html {
  position: relative;
	font-family: Consolas, monaco, monospace;
	scroll-behavior: smooth;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: BLACK;
	color: white;
	  position: relative;
	font-family: Consolas, monaco, monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	scroll-behavior: smooth;
}
#footer {
  position: absolute; 
  width: 100%;
  /* Set the fixed height of the footer here */
/*  height: 10px;*/
	color: black;
  background-color: DARKSLATEGRAY;
  scroll-behavior: smooth;
  
}


@-webkit-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-moz-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-ms-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-o-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}

input:focus {
    
    -webkit-animation: color_change 0.2s  alternate;
	-moz-animation: color_change 0.2s  alternate;
	-ms-animation: color_change 0.2s  alternate;
	-o-animation: color_change 0.2s  alternate;
	animation: color_change 0.2s  alternate;
}

input, select {
	 border: 1px solid #cccccc;
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px;
   outline: none; 
   height: 25px; 
   width: auto; 
   color: #000000; 
   font-size: 12px; 
   font-family: Tahoma;
   font-weight: bold;
}


.gf {
	color: WHITE;
}

#timestamp {
	color: GOLDENROD;
}

#base {
	color: AZURE;
}

#column0 {
	color: Lime;
}

#column1 {
	color: grey;
}
#column2 {
	color: Lime;
}
#column3 {
	color: grey;
}
#column4 {
	color: BlanchedAlmond;
}
#column5 {
	color: DarkGray;
}

#column6 {
	color: Yellow;
}
#column7 {
	color: Lime;
}
#column8 {
	color: DarkGray;
}

#INFO {
	color: Lime;
}



#FINEST {
	color: GreenYellow;
}
#FINER {
	color: GreenYellow;
}
#FINE {
	color: GreenYellow;
}
#CONFIG {
	color: Aqua;
}
#WARNING {
	color: Red;
}
#SEVERE {
	color: OrangeRed;
}



.footer2 {
	width: 100%;
	 height: 10px; 
}

.info {
	width: 100%;
	 height: 20px;
	   background-color: grey;
	color: white; 
}

.errorEmitter {
	font-size: 16px;
	color: red; 
}

.welcome {
	font-size: 16px;
	color: Chartreuse ; 
	
}

.error {
	font-size: 16px;
	color: red; 
}
